.form-container {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.12);
  width: 817.763px;
}
.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.logo-wrapper,
.section-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.logo {
  width: 43px;
  height: 43px;
}

.logo-title {
  font-size: 28.57px;
  font-weight: 700;
  line-height: 115.728%;
}

.logo-title span {
  font-weight: 400;
}
.section-image {
  width: 81.285px;
  height: 81.285px;
}
.section-title {
  font-size: 20px;
}

.form-content {
  padding: 0 40px;
}

.question-title {
  font-size: 16.891px;
  font-weight: 500;
}

.next-btn {
  width: 741.836px;
  height: 57.549px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #67489d;
  border: none;
  color: #fff;
}

.form-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px;
}

.submitBtn {
  height: 57.549px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #67489d;
  border: none;
  color: #fff;
  width: 474.668px;
}
.cancelBtn {
  width: 200px;
  height: 57.549px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #67489d;
  background: none;
  color: #67489d;
}
